// color set

$blue-5: #49a9ee !default;

$green-5: #3dbd7d !default;

$red-5: #f46e65 !default;


// meaning of color
$primary: $blue-5 !default;

$success: $green-5 !default;

$danger: $red-5 !default;

